.search-container {
  justify-content: center;

  display: flex;
  flex-direction: column;
  padding: 20px;
}

// .country-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   width: 550px;
// }

.container {
  display: flex;
}

.input {
  display: flex;

  // justify-content: center;
  width: 450px;
  height: 30px;
}

.main-info {
  display: flex;
  justify-content: center;
}

.name {
  display: flex;
  justify-content: center;

  // text-align: center;
}

.details {
  margin-right: 30px;
  list-style: none;
}

.details > li:not(:last-child) {
  margin-bottom: 10px;
}

.languages {
  display: flex;
  flex-direction: column;
  list-style: disc;
  padding-top: 10px;
}

.flag {
  width: 300px;
}

.bold {
  font-weight: 600;
}

.country-list {
  display: flex;
  flex-direction: column;
}
.country-item {
}

.country-item-btn {
  min-width: 100px;
  height: 20px;
  background-color: rgb(172, 207, 230);
  border: 0;
  border-radius: 3px;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: left;
  cursor: pointer;
}
